*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
}
.nav__options {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__options a{
    padding-right: 10px;  
    color: black;  
}
.nav__options a:hover{
    text-decoration: underline;  
}
.options__menu-icon {
    width: 35px;
    height: 35px;
    background-image: url('../assets/icons/menu-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.options__menu-icon:hover {
    background-color: #E6E6E6;
    border: 2px solid #E6E6E6;
}
.nav__options img {
    margin: 0 10px;
    border: 2px solid white;
    border-radius: 50%;
}
.nav__options img:hover {
    border: 2px solid #E6E6E6;
}
.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 110px;
    text-align: center;
}
.main__container .main__logo {
    margin-bottom: 35px;
}
.main__container .main__logo img{
    width: 272px;
}
.main__container .main__input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.main__container .main__input-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 525px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
}
.main__container .main__input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
.main__input-container input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
.main__input .search-icon {
    width: 15px;
    height: 15px;
    background-image: url('../assets/icons/search-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.main__input .micro-icon {
    width: 18px;
    height: 18px;
    background-image: url('../assets/icons/micro-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}
.main__buttons {
    display: inline-block;
    width: 530px;
    margin: 0 auto;
}
.main__buttons button {
    height: 36px;
    margin-right: 10px;
    padding: 0 16px;
    text-align: center;
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid white;
    border-radius: 4px;
}
.main__buttons button:hover {
    border: 1px solid #c2c2c2;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%); 
    color: #202124;
    cursor: pointer;
}
/*footer { Una opción para hacer el footer con grid
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4 ;
}
footer ul {
    display: flex;
    margin: 10px;
    padding-left: 0;
    list-style: none;
}
.left-menu {
    justify-self: left;
}
.right-menu {
    justify-self: right;
}
footer ul li a {
    margin: 15px;
    font-size: 14px;
    color: #70757a;
}*/
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    font-size: 14px;
    background-color: #f2f2f2;
}
.country-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 30px;
    color: #70757a;
}
.country-option a {
    color: #70757a;
}
.country-option a:hover {
    text-decoration: underline;
    color: black;
}
.features-options {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border-top: 1px solid #e4e4e4;
}
.left-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 48px;
    color: #70757a;
}
.right-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 48px;
    color: #70757a;
}
.left-menu a {
    padding-left: 30px;
    color: #70757a;
}
.left-menu a:hover {
    text-decoration: underline;
}
.right-menu a {
    padding-right: 30px;
    color: #70757a;
}
.right-menu a:hover {
    text-decoration: underline;
}